<div class="card">
  <img src="/assets/card.png" class="card-img-top" alt="blog image">
  <div class="card-badge-container">
    <span class="badge rounded-pill text-bg-primary">$49/mo</span>
    <button class="favorite-btn"><i class="bi bi-star-fill"></i></button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.content}}</p>
  </div>
  <div class="card-footer text-body-secondary d-flex justify-content-between">
    <div class="card-footer-profile d-flex align-items-center">
      <img src="/assets/profile.png" alt="profile">
      <span>{{blog.owner}}</span>
    </div>
    <span class="d-flex align-items-center">May 02</span>
  </div>
</div>