/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #6b7c93;
  background-color: #f5f5f5;
}

.icon-link {
  &-hover {
    &.hover-up {
      --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
    }
  }
  > .bi {
    width: unset;
    height: unset;
  }
}
